body {
  background: #ffffff;
  font-family: "Open Sans", sans-serif;
  color: #697279;
  font-size: 1em;
}

h1 {
  color:#083452;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

h2 {
  color: #106db3;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

blockquote {
  color: #106db3;
  text-transform: uppercase;
  border-left: 1px solid #d3d3d3;
  font-size: 1.5em;
  margin-left: 6px;
  padding-left: 20px; 
}

.container { 
  width: 1300px; 
  margin:0 auto 0 auto;
}

@media only screen and (max-width: 1300px) {
  .container { width: 100%; }
}

header {
  width: 1300px;
  height: auto;
}

header img {
  width: 1300px;
  height: 523px;
}

@media only screen and (max-width: 1300px) {
  header img { width: 100%; }
}

article {
  width: 808px;
  height: auto;
  float: left;
}

article img {
  width: 24px;
  height: 24px;
}

@media only screen and (max-width: 808px) {
  article { width: 100%; }
}

aside {
  width: 492px;
  height:auto;
  float: right;
}

@media only screen and (max-width: 492px) {
  aside{ width: 100%; }

@media only screen and (max-width: 492px) {
  article { width: 100%; }
}

.features {
  width: 100%;
  height: auto;
  clear: both;
}


footer {
  width: 100%;
  height: auto;
}

