body {
  background: #ffffff;
  font-family: "Open Sans", sans-serif;
  color: #697279;
  font-size: 1em;
  line-height: 2em;
}

h1 {
  color:#083452;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 4em;
  font-weight: normal;
  line-height: 1.2em;
  margin-bottom: 0px;
}

h2 {
  color: #106db3;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

blockquote {
  color: #106db3;
  text-transform: uppercase;
  border-left: 1px solid #d3d3d3;
  font-size: 1.8em;
  margin-left: 6px;
  padding-left: 20px; 
  padding-top: 10px;
  line-height: 3em;
}

.container { 
  width: 1300px; 
  margin:0 auto 0 auto;
  padding: 0px 50px 0px 50px;
}

@media only screen and (max-width: 1300px) {
  .container { width: 100%; }
}


.author{
  color: #106db3;
 
}


.author-date {
  color:#cbd4db;
  font-family: 'Open Sans', sans-serif;
  padding-left: 10px;
  text-decoration: underline;
}

header {
  width: 1300px;
  height: auto;
}

header img {
  width: 1300px;
  height: 523px;
}

@media only screen and (max-width: 1300px) {
  header img { width: 100%; }
}

article {
  width: 808px;
  height: auto;
  float: left;
  padding: 0 30px 0 0;
}

article img {
  width: 24px;
  height: 24px;
}

@media only screen and (max-width: 808px) {
  article { width: 100%; }
}

aside {
  width: 492px;
  height:auto;
  float: right;
}

@media only screen and (max-width: 492px) {
  aside{ width: 100%; }

@media only screen and (max-width: 492px) {
  article { width: 100%; }
}

.features {
  width: 100%;
  height: auto;
  clear: both;
}


footer {
  width: 100%;
  height: auto;
}



